<h1>Chat history</h1>

<% @trips.each do |trip| %>

  <%= link_to trip_path(trip) do %>
    <div>
      <% if trip.messages.any? %>
        <p>Trip to <%= trip.farm.name %></p>
        <%= trip.messages.last.content %>
        <%= trip.messages.last.created_at %>
      <% end %>
    </div>
  <% end %>

<% end %>
