<div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
  <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
    <p><%= message.content %></p>
  </div>
</div>
