// Define variables for your color scheme

// BOOTSTRAP COLORS ----
$red: #fd1015;
$blue: #0d6efd;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$grey: #616161;
$light-gray: #f4f4f4;

// OUR COLORS ---- check figma, ctrl click on an element to see which color an element has
$black: #121212;
$gray: #616161;
$red: #e05e42;
$open-green: #87c29b;
$green-main: #2d655e;
$green-light: #44998f;
$green-dark: #24514b;
$yellow: #fec480;
$white: #fff;
$beige-emph: #f7e9df;
$beige-background: #f4f2f1;
$beige: #f7e9df;
