.chat-box {
  display: flex;
  align-items: center;
  background-color: $white;
  border: 1px $beige-background;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  gap: 10px;
}

.trip-info-wrapper {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  margin: 0;

  h4 {
    font-family: $subtitles-font;
    font-size: 14px;
    margin: 0;
  }
}

.driver-img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

.trip-info {
  font-weight: bold;
  margin-bottom: 8px;
  margin-left: 20px;

  .trip-farm {
    color: $green-light;
  }
}

.last-message {
  font-size: 14px;

  p {
    margin-bottom: 0px;
  }
}

.timestamp {
  color: $gray;
  font-size: 12px;
}
