.farm-image {
  object-fit: cover;
  border: none;
  width: 100%;
  height: 100%;
}

.farm-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  margin-top: -10px;
  .farm-rating p {
    margin-bottom: 0;
  }

  .farm-rating {
    .star {
      color: $yellow;
    }
    i {
      margin-left: 5px;
    }
  }
  .farm-title {
    display: flex;
    align-items: center;
    flex-grow: 1;
    h2 {
      margin-top: 5px;
    }
    i {
      padding-right: 20px;
    }
    .open {
      color: $open-green;
    }

    .closed {
      color: $red;
    }
  }
}

.carpool-buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: auto;
  height: 180px;

  legend {
    display: none;
  }
}

.farm-product-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  border-radius: 10px;
}

.farm-product-label {
  padding: 10px 5px;
  width: 60%;
  p {
    padding: 0px;
    margin: 0px;
  }
}

.carbon-savings {
  display: block;
  padding: 10px 5px;
  font-size: small;
  text-align: center;
}

.submit-button {
  padding: 10px;
  background-color: $green-main;
  border-radius: 10px;
  color: white;
}
