.farm-description {
  font-size: 15px;
  margin-bottom: 25px;
}

form {
  h3 {
    margin: 20px 0;
  }
}

.carpool-buttons-container {
  flex-wrap: nowrap;
  overflow-x: auto;
  width: auto;
  margin: 0 -20px;

  fieldset {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
  }

  legend {
    display: none;
  }

  .carpool-info p {
    margin-bottom: 0;
  }
}

.farm-products {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.farm-product-field {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $white;
  padding: 20px;
  border-radius: 20px;
  img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
  }
}

.farm-product-label {
  display: flex;
  flex-direction: column;
  h4 {
    font-size: 15px;
    margin-bottom: 2px;
    font-family: $emph-font;
  }

  p {
    font-size: 13px;
    margin: 0;
  }

  .light-green {
    color: $green-light;
  }

  .quantity-input {
    width: 50px;
    height: 50px;
  }
}

.submit-button {
  padding: 10px;
  font-family: $emph-font;
  background-color: $yellow;
  border-radius: 50px;
  color: $black;
  width: 100%;
}

.red {
  color: $red;
}
