.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://res.cloudinary.com/dpfoq3knh/image/upload/v1693921042/farmland_ldo8vq.jpg");
  background-size: 100vw 150vh;
  background-position: center;
}

.farmland-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  margin-top: -10px;

  & h1 {
    font-family: "Eiko";
    font-size: 40px;
    font-weight: bold;
    color: $green-main;
  }

  p {
    width: 70%;
    font-family: 20px;
    margin-bottom: 0px;
  }
}

.farmland-seasonal {
  max-width: 100%;
  text-align: center;

  .seasonal-month {
    color: $green-light;
  }
}

.seasonal-products {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 20px;
  margin-bottom: 40px;
  gap: 20px;
  padding: 0 20px;

  .product-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 70px;
      height: 70px;
      border-radius: 100%;
      margin-bottom: 10px;
    }

    p {
      font-size: 13px;
    }
  }
}

.button-center {
  text-align: center;
}

.landing-button {
  background-color: $green-main;
  border: none;
  border-radius: 50px;
  padding: 12px 0;
  text-align: center;
  width: 80%;
  transition: background-color 0.4s ease;
  cursor: pointer;
  font-family: "OS-Bold";
  color: $beige-background !important;
}
