// Specific CSS for your home-page
.name-address-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  margin-bottom: 30px;

  h2 {
    margin-bottom: 0px;
  }

  p {
    font-size: 11px;
    color: $gray;
    margin-bottom: 0px;
  }
}
