
.message-row {
  margin-bottom: 0px;
  padding: 5px;
  width: 100%;
}

.sender-style, .receiver-style {
  width: 80%;
  max-width: 400px;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  min-height: 44px;
  background-color: $beige-background;
}

.send-box {
  display: flex;
  align-items: stretch;
  color: $white;
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration { display: none; }
}

.message-input {
  flex-grow: 1;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 16px;
  background-color: $green-dark;
  margin-bottom: 0 !important;
  padding: 8px 15px;
  &::placeholder {
color: white;
  }
}

.message-input:focus {
  background-color: $green-dark;
  color: $white;
  outline: 0;
}

.message-input ::placeholder {
  color: $white;
}

.send-button {
  background-color: $green-dark;
  color: $white;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: -1px;
}

.send-button:hover {
  background-color: $green-light;
}

#new_message {
  border-top: none !important;

  .form-group {
    margin-bottom: 0;
  }
}
