.message-row {
  margin-bottom: 0px;
  padding: 5px;
  width: 100%;
}

.sender-style, .receiver-style {
  width: 80%;
  max-width: 400px;
  border-radius: 25px;
  padding: 8px 12px;
  min-height: 44px;
  background-color: $beige-background;

  p {
    margin-bottom: 0px;
  }
}

.send-box {
  display: flex;
  align-items: stretch;
  color: $white;
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration { display: none; }
}

.message-input {
  flex-grow: 1;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  background-color: $green-dark;
  margin-bottom: 0 !important;
  padding: 8px 12px;

  &::placeholder {
    color: white;
  }
}

.message-input:focus {
  background-color: $green-dark;
  color: $white;
  outline: 0;
}

.message-input ::placeholder {
  color: $white;
}

.send-button {
  cursor: pointer;
  margin-left: -1px;
  color: $yellow;
}

.send-button:hover {
  color: $yellow;
}

#new_message {
  border-top: none !important;

  .form-group {
    margin-bottom: 0;
  }
}
