<div class="notification-container <%= current_user.number_of_notifications > 0 ? "" : "d-none" %>">
    <div class="notification-dot">
      <div class="notification-count">
        <%= current_user.number_of_notifications %>
      </div>
    </div>
  <%= audio_tag asset_path("cowbell.mp3"), id: "notificationAudio", control: true%>
</div>
