<div class="topbanner">
  <% if current_user %>
    <p id="top-banner-text"> You saved <span id="current-user-co2-saved" class="emph"> <%= current_user.total_co2_saved.round(2) %> kg of CO2!</span></p>
  <% else %>
    <p>Place an order to start saving CO2!</p>
  <% end %>
</div>
