<h1>Order Details</h1>

<% @order.id %></p>
<% @order.trip_id %></p>
<% @order.user_id %></p>

<ul>
  <% @order_products.each do |order_product| %>
    <li>
      <%= order_product.product.name %>, Quantity: <%= order_product.quantity %>
    </li>
  <% end %>
</ul>
