<div class="container">

  <div class="farmland-title">
    <h1>Farmland</h1>
    <p>Share a ride, shop local, save the planet !</p>
  </div>

  <div class="farmland-seasonal">
    <p><span class="emph seasonal">Seasonal products for <%= Date.today.strftime("%B") %></span></p>
    <div class="seasonal-products">
      <% @products.each do |product| %>
        <div class="product-div">
          <%= image_tag "#{product.name}.jpg" %>
          <p class="emph"><%= product.name.capitalize %></p>
        </div>
      <% end %>
    </div>
  </div>

  <%= link_to farms_path, class:"landing-button" do %>
    Browse farms
  <% end %>

</div>
