<div class="container">
  <div class="farmland-title">
    <h1>Farmland</h1>
  </div>
  <div class="farmland-description">
    <h2>Welcome!</h2>
    <p>Get your farm-fresh products directly from local farms, even if you don't have a car. Carpool, reduce your CO2 emissions and enjoy the best local produce!</p>
  </div>
  <%= link_to farms_path, class:"landing-button" do %>
    Let's go
  <% end %>
</div>
