<div class="container">
  <div class="farmland-title">
    <h1>Farmland</h1>
  </div>

  <div class="welcome-text">
    <h2>Welcome!</h2>
  </div>

  <div class="welcome-description">
    <p>Get your farm-fresh products directly from local farms, even if you don't have a car. Carpool, reduce your CO2 emissions and enjoy the best local produce!</p>
    <div class= "button-center">
      <button class="landing-button"><%= link_to "Let's go", farms_path%></button>
    </div>
  </div>
</div>
