.basket-recap {
  margin-bottom: 40px;

  .basket-topline {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;

    .light-text {
      color: $gray;
    }

    .total-cost {
      color: $green-light;
      font-size: 20px;
    }
  }

  .carbon-recap {
    width: 80%;
    margin: 10px auto;
    background-color: $green-light;
    border-radius: 10px;
    padding: 10px 30px;

    h3 {
      color: $white;
      text-align: center;
    }

    p {
      color: $white;
      text-align: center;
    }
  }
}
