.chatroom-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

    .title-div{
      margin-bottom: 10px;

      .chat-driver-name {
        color: $green-light;
      }
    }
}

.chatroom {
  margin-top: 9px;
  height: calc(100vh - 275px); // 230
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  background-color: $white;
  border-radius: 10px;

  .messages {
    flex: 1;
    overflow: scroll;
    padding: 1rem;

    .sender-style {
      background-color: $gray;
      color: $white
    }
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}
