.farm-order-radio-buttons{


  flex: 0 0 300px;

  input[type="radio"] {
    display:none;
  }

  label {
    // border: 1px solid #DDD;
    // border-radius:5px;
    // padding:10px;
    // margin-top:10px;
    // display:block;
    // position:relative;
    border-radius: 10px;
    background-color: $green-main;
    color: #F4F2F1;
    border: 1px solid #000000;
    padding: 10px 15px;
    box-shadow: 2px 3px #000000;
    margin: 10px;
  }

  input[type="radio"]:checked + label {
    background-color: $green-light;
  }
}
