#order-card-link{
  color: #ff0 !important;
}

.order-card {
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 15px auto;
  width: 100%;
  padding: 15px 30px;

  h3{
    margin-top: 15px;
  }
}

.carpool-orders-card {
  width: 100%;
  border-radius: 10px;
  background-color: $green-main;
  color: #F4F2F1;
  border: 1px solid #000000;
  padding: 10px 15px;
  box-shadow: 2px 3px #000000;

  .carpool-date {
    color: #FEC480;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 0px;
  }

  .light-text{
    color: #F7E9DF;
  }
}
