.farm-order-radio-buttons{

  input[type="radio"] {
    display:none;
  }

  label {
    // border: 1px solid #DDD;
    // border-radius:5px;
    // padding:10px;
    // margin-top:10px;
    // display:block;
    // position:relative;
    width: 100%;
    border-radius: 10px;
    background-color: $green-main;
    color: #F4F2F1;
    border: 1px solid #000000;
    padding: 10px 15px;
    box-shadow: 2px 3px #000000;
    margin-top: 10px;
  }

  label:hover {
    cursor:pointer;
    background-color:#EEE;
  }

  input[type="radio"]:checked + label {
    background-color:#DDD;
  }
}
