#order-card-link {
  color: #ff0 !important;
}

.order-card {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 15px auto;
  width: 100%;
  padding: 15px 30px;
  h3 {
    margin-top: 15px;
  }
}

.order-card-products {
  display: flex;
  flex-wrap: wrap;
}

.separator::after {
  display: inline-block;
  content: ",";
  margin-left: -5x;
  margin-right: 5px;
}

.separator:last-child:after {
  content: "";
}

.carpool-orders-card {
  width: 100%;
  border-radius: 10px;
  background-color: $green-main;
  color: #f4f2f1;
  border: 1px solid #000000;
  padding: 10px 15px;
  box-shadow: 2px 3px #000000;

  .carpool-date {
    color: #fec480;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 0px;
  }

  .light-text {
    color: #f7e9df;
  }
}
