.title-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  h2 {
    margin-bottom: 0px;
  }

  p {
    font-size: 11px;
    color: $gray;
    margin-bottom: 0px;
  }
}

.title-div-description {
  margin-top: -25px;
  font-size: 13px;
  color: $green-main;
}
