// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// general rules for the whole app

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 70px;
  overflow-x: hidden;
}

h3 {
  font-family: $subtitles-font;
}

.emph {
  font-family: $emph-font;
}

li {
  list-style: none;
  list-style-type: none;
}

.background {
  background-color: $beige-background;
}

.app-container {
  margin: 0 20px 80px 20px;
}

a {
  text-decoration: none !important;
  color: $black;
}

fieldset {
  display: flex !important;
}
